@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/namelogoblue.png" class="mainimg" alt="logo">
    <div class="container">
        <h3 class="mb-5 pt-5">Are you a </h3>
        <div class="mt-5 container justify-content-center d-flex align-items-center gap-5">
            <a href="#"><button class="btn p-3 btn-warning">Parent</button></a>
            <h4>or</h4>
            <a href="#"><button class="p-3 btn btn-success">Child</button></a>
        </div>
    </div>
</div>
